@import "tailwindcss/preflight";
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-lms-purple: #493ef2;
    --color-lms-red: #ff5d5d;
    --color-lms-grey: #eceef1;
    --color-lms-grey-border: #BCC2CA;
    --color-lms-orange: #ff8100;
    --color-lms-text-secondary: #5e677e;
    --color-lms-background: #F5F7FA;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}