<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="flex min-h-screen w-full">
        <aside class="flex flex-col w-[250px] shrink-0 h-auto">
            <div class="fixed top-0 z-50 flex flex-col w-[250px] shrink-0 h-screen overflow-hidden bg-white border-r border-lms-grey">
                <div class="flex items-center h-20 px-6">
                    <a href="my-courses.html" class="flex items-center gap-3">
                        <img src="assets/images/icons/arrowleft.svg" class="flex size-6 shrink-0" alt="icon">
                        <span>My Dashboard</span>
                    </a>
                </div>
                <div class="flex w-full h-[160px] overflow-hidden">
                    <img src="assets/images/thumbnails/course-th-full-res.png" class="size-full object-cover" alt="thumbnail">
                </div>
                <div class="flex flex-col gap-0.5 p-6 justify-center border-b border-lms-grey-border">
                    <p class="text-sm text-lms-text-secondary">Course</p>
                    <p class="font-bold">Designing a Great Slide Presentations</p>
                </div>
                <div class="flex flex-col flex-1 gap-[30px] overflow-y-scroll p-6 pr-0 pt-0 mt-6 mr-2 *:last:mb-16 [&::-webkit-scrollbar]:w-[6px] [&::-webkit-scrollbar-thumb]:bg-lms-orange [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-lms-grey">
                    <section class=" flex flex-col gap-4">
                        <p class="font-bold">Warming Up</p>
                        <nav>
                            <ul class="flex flex-col gap-4">
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Meet our teacher
                                        </span>
                                        <img src="assets/images/icons/icon_checklist.svg" class="flex size-[22px] shrink-0" alt="icon">
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Benefit of software
                                        </span>
                                        <img src="assets/images/icons/icon_checklist.svg" class="flex size-[22px] shrink-0" alt="icon">
                                    </a>
                                </li>
                                <li class="group active">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Install Figma Design App
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            What’s Next?
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                    <section class=" flex flex-col gap-4">
                        <p class="font-bold">Into The Project</p>
                        <nav>
                            <ul class="flex flex-col gap-4">
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Download Assets
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Integrating
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Our First Document
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Basic Shapes
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                    <section class=" flex flex-col gap-4">
                        <p class="font-bold">Deep Work</p>
                        <nav>
                            <ul class="flex flex-col gap-4">
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Auto Layout
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Design MoodBoard
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Development Mode
                                        </span>
                                    </a>
                                </li>
                                <li class="group">
                                    <a href="course-playing.html" class="flex w-[200px] shrink-0 items-center rounded-full justify-between py-3 px-4 bg-lms-background group-[&.active]:bg-lms-purple hover:bg-lms-purple transition-all duration-300">
                                        <span class="group-hover:text-white group-[&.active]:text-white group-[&.active]:font-semibold w-[140px] truncate transition-all duration-300">
                                            Install Figma Desktop
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </div>
        </aside>
        <div class="flex flex-col w-full">
            <div class="h-20 relative"></div>
            <div id="top-bar" class="fixed top-0 w-[calc(100%-250px)] z-50 flex justify-between items-center h-20 bg-white px-[30px] border-b border-lms-grey">
                <form action="#">
                    <label class="relative">
                        <input type="text" name="" id="" class="appearance-none outline-hidden w-[430px] h-11 rounded-full bg-white border border-lms-grey py-[10px] px-5 pr-12 font-semibold placeholder:font-normal placeholder:text-lms-text-secondary input-focus" placeholder="Search your own courses...">
                        <button type="button" class="absolute transform -translate-y-1/2 top-1/2 right-5 z-10">
                            <img src="assets/images/icons/searchnormal1.svg" class="flex shrink-0" alt="icon">
                        </button>
                    </label>
                </form>
                <div class="flex items-center gap-[30px] h-full">
                    <div class="flex items-center gap-5">
                        <a href="#" class="flex shrink-0">
                            <img src="assets/images/icons/directinbox.svg" alt="icon">
                        </a>
                        <a href="#" class="flex shrink-0">
                            <img src="assets/images/icons/gift.svg" alt="icon">
                        </a>
                        <a href="#" class="flex shrink-0">
                            <img src="assets/images/icons/notification.svg" alt="icon">
                        </a>
                    </div>
                    <div class="flex h-full w-px border border-lms-grey"></div>
                    <div class="flex items-center gap-[11px]">
                        <div class="text-right">
                            <p class="font-semibold">Shayna Max</p>
                            <p class="text-xs leading-[18px] text-lms-text-secondary -mt-[5px]">Employee</p>
                        </div>
                        <div class="flex shrink-0 w-10 h-10 rounded-full overflow-hidden bg-lms-orange items-center justify-center font-['Inter']">
                            <span class="font-bold text-lg leading-[22px]">S</span>
                        </div>
                    </div>
                </div>
            </div>
            <main class="flex flex-col flex-1">
                <div class="relative w-full flex flex-1">
                    <iframe 
                        class="absolute top-0 left-0 w-full h-full"
                        src="https://www.youtube.com/embed/bTqVqk7FSmY" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                <div id="video-info" class="flex items-center justify-between p-[30px]">
                    <div>
                        <p class="font-bold text-2xl">Install Figma Desktop</p>
                        <p class="text-sm text-lms-text-secondary mt-[6px]">Warming Up</p>
                    </div>
                    <a href="course-finished.html" class="rounded-full py-3 px-6 bg-lms-purple font-bold text-center text-nowrap text-white">
                        Next Video
                    </a>
                </div>
            </main>
        </div>
    </div>
</body>
</html>