<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="flex min-h-screen w-full">
        <aside class="flex flex-col w-[250px] shrink-0 h-auto">
            <div class="fixed top-0 z-50 flex flex-col w-[250px] shrink-0 h-screen overflow-hidden overflow-y-scroll bg-white border-r border-lms-grey py-[50px] hide-scrollbar">
                <div class="flex w-[60px] h-[60px] shrink-0 rounded-full bg-lms-purple items-center justify-center overflow-hidden mx-auto font-['Inter']">
                    <span class="font-bold text-[34px] leading-[41] text-white">B</span>
                </div>
                <div class="flex flex-col gap-0.5 justify-center px-8 w-full text-center mt-4">
                    <p class="font-semibold text-xl leading-[30px]">BuildWithAngga</p>
                    <p class="text-sm leading-[21px] text-lms-text-secondary">Education Tech</p>
                </div>
                <nav id="general" class="flex flex-col gap-[10px] mt-[30px]">
                    <p class="text-xs leading-[18px] text-lms-text-secondary ml-6">GENERAL</p>
                    <ul class="flex flex-col gap-[10px]">
                        <li class="group">
                            <a href="" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/activity.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Overview</span>
                            </a>
                        </li>
                        <li class="group active">
                            <a href="my-courses.html" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/videoplay.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <img src="assets/images/icons/videoplay-purple.svg" class="w-6 h-6 hidden shrink-0 group-[&.active]:flex" alt="icon">
                                <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Courses</span>
                            </a>
                        </li>
                        <li class="group">
                            <a href="" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/documentdownload.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Assets</span>
                            </a>
                        </li>
                        <li class="group">
                            <a href="" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/flashy.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <div class="flex justify-between items-center pr-6 w-full">
                                    <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Challenges</span>
                                    <p class="bg-lms-orange h-[26px] rounded-xl py-1 px-[10px] font-semibold text-xs leading-[18px]">Lvl 18</p>
                                </div>
                            </a>
                        </li>
                        <li class="group">
                            <a href="" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/gift.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Rewards</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav id="general" class="flex flex-col gap-[10px] mt-[30px]">
                    <p class="text-xs leading-[18px] text-lms-text-secondary ml-6">OTHERS</p>
                    <ul class="flex flex-col gap-[10px]">
                        <li class="group">
                            <a href="" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/setting3.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <div class="flex items-center justify-between w-full pr-6">
                                    <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Settings</span>
                                    <img src="assets/images/icons/alert.svg" class="flex shrink-0 w-4" alt="icon">
                                </div>
                            </a>
                        </li>
                        <li class="group">
                            <a href="" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/messagenotif.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Help</span>
                            </a>
                        </li>
                        <li class="group">
                            <a href="index.html" class="group flex pl-6 py-[11px] gap-3 items-center border-r-4 border-transparent group-[&.active]:bg-[linear-gradient(270deg,#EAE9FF_0%,rgba(233,232,255,0)_100%)] group-[&.active]:border-lms-purple">
                                <img src="assets/images/icons/logout.svg" class="w-6 h-6 flex shrink-0 group-[&.active]:hidden" alt="icon">
                                <span class="group-[&.active]:text-lms-purple group-[&.active]:font-semibold">Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="flex flex-col w-full">
            <div class="h-20 relative"></div>
            <div id="top-bar" class="fixed top-0 w-[calc(100%-250px)] z-50 flex justify-between items-center h-20 bg-white px-[30px] border-b border-lms-grey">
                <form action="#">
                    <label class="relative">
                        <input type="text" name="" id="" class="appearance-none outline-hidden w-[430px] h-11 rounded-full bg-white border border-lms-grey py-[10px] px-5 pr-12 font-semibold placeholder:font-normal placeholder:text-lms-text-secondary input-focus" placeholder="Search your own courses...">
                        <button type="button" class="absolute transform -translate-y-1/2 top-1/2 right-5 z-10">
                            <img src="assets/images/icons/searchnormal1.svg" class="flex shrink-0" alt="icon">
                        </button>
                    </label>
                </form>
                <div class="flex items-center gap-[30px] h-full">
                    <div class="flex items-center gap-5">
                        <a href="#" class="flex shrink-0">
                            <img src="assets/images/icons/directinbox.svg" alt="icon">
                        </a>
                        <a href="#" class="flex shrink-0">
                            <img src="assets/images/icons/gift.svg" alt="icon">
                        </a>
                        <a href="#" class="flex shrink-0">
                            <img src="assets/images/icons/notification.svg" alt="icon">
                        </a>
                    </div>
                    <div class="flex h-full w-px border border-lms-grey"></div>
                    <div class="flex items-center gap-[11px]">
                        <div class="text-right">
                            <p class="font-semibold">Shayna Max</p>
                            <p class="text-xs leading-[18px] text-lms-text-secondary -mt-[5px]">Employee</p>
                        </div>
                        <div class="flex shrink-0 w-10 h-10 rounded-full overflow-hidden bg-lms-orange items-center justify-center font-['Inter']">
                            <span class="font-bold text-lg leading-[22px]">S</span>
                        </div>
                    </div>
                </div>
            </div>
            <main class="flex flex-col p-[30px]">
                <div id="header" class="flex items-center justify-between">
                    <div>
                        <h1 class="font-bold text-[28px] leading-[42px]">My Courses</h1>
                        <p class="mt-1 text-lms-text-secondary">Belajar rajin agar makin sukses</p>
                    </div>
                </div>
                <div id="content" class="flex flex-wrap gap-[30px] mt-[30px] mb-[30px]">
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-1.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">Full-Stack JavaScript Developer: Cars</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-2.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">Flutter Mobile App Development: Social</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-3.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">Icon Design Kit: Simple Summer Set</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-4.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">Enhance Your Soft Skills: Teamwork</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-5.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">How to Work Remote In Better Ways</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-6.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">Setup Agile Team: Work Faster & Better</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                    <a href="course-playing.html">
                        <div class="group flex flex-col w-[220px] h-[257px] shrink bg-white rounded-2xl overflow-hidden hover:shadow-[0px_10px_30px_10px_#E9ECF0] transition-all duration-300">
                            <div class="thumbnail relative w-full h-[150px] overflow-hidden">
                                <img src="assets/images/thumbnails/course-th.png" class="size-full object-cover" alt="thumbnail">
                                <img src="assets/images/icons/btn_play.svg" class="absolute transform -translate-x-1/2 left-1/2 top-full group-hover:top-10 transition-all duration-300 ease-in-out" alt="play icon">
                            </div>
                            <div class="flex flex-col gap-[6px] p-4">
                                <p class="line-clamp-2 font-bold min-h-12">Designing a Great Slide Presentations</p>
                                <p class="text-sm text-lms-text-secondary">189 videos</p>
                            </div>
                        </div>
                    </a>
                </div>
                <nav id="pagination">
                    <ul class="flex items-center gap-[10px]">
                        <li class="group active">
                            <a href="#" class="flex items-center justify-center size-10 rounded-full shrink-0 bg-white group-[&.active]:bg-lms-orange group-[&.active]:font-bold group-hover:font-bold transition-all duration-300">
                                1
                            </a>
                        </li>
                        <li class="group">
                            <a href="#" class="flex items-center justify-center size-10 rounded-full shrink-0 bg-white group-[&.active]:bg-lms-orange group-[&.active]:font-bold group-hover:font-bold transition-all duration-300">
                                2
                            </a>
                        </li>
                        <li class="group">
                            <a href="#" class="flex items-center justify-center size-10 rounded-full shrink-0 bg-white group-[&.active]:bg-lms-orange group-[&.active]:font-bold group-hover:font-bold transition-all duration-300">
                                3
                            </a>
                        </li>
                        <li class="group">
                            <a href="#" class="flex items-center justify-center size-10 rounded-full shrink-0 bg-white group-[&.active]:bg-lms-orange group-[&.active]:font-bold group-hover:font-bold transition-all duration-300">
                                4
                            </a>
                        </li>
                        <li class="group">
                            <a href="#" class="flex items-center justify-center size-10 rounded-full shrink-0 bg-white group-[&.active]:bg-lms-orange group-[&.active]:font-bold group-hover:font-bold transition-all duration-300">
                                5
                            </a>
                        </li>
                        <li class="group">
                            <a href="#" class="flex items-center justify-center size-10 rounded-full shrink-0 bg-white group-[&.active]:bg-lms-orange group-[&.active]:font-bold group-hover:font-bold transition-all duration-300">
                                6
                            </a>
                        </li>
                    </ul>
                </nav>
            </main>
        </div>
    </div>
</body>
</html>